body {
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom styles */
.toolbar-auth-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar-contents {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.auth-btn {
  font-size: 16px !important;
  color: white !important;
  text-transform: none !important;
}

.register-btn {
  background: white !important;
  color: #1a76d2 !important;
}

/* Centers modal */
.MuiModal-root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body {
  background-color: white;
  width: 50%;
  border-radius: 6px;
  padding: 25px;
}